# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/HW15.6.6/.vs/HW15.6.6/v17
/HW15.6.6/.vs/HW15.6.6/FileContentIndex
/HW15.6.6/HW15.6.6/bin/Debug/net7.0
/HW15.6.6/HW15.6.6/obj/Debug/net7.0
/HW15.6.6/HW15.6.6/obj
